body {
    margin: 0;
    font-family: "Be Vietnam Pro";
}

.section {
    font-weight: 900;
}

/* Header */
.header {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.h-section {
    border-radius: 8px;
    background-color: #E2E2E2;
    font-weight: 900;
    width: 15vh;
    text-align: center;
    font-size: 14px;
}

.h-logo {
    padding: 15px 0;
}

.h-menu {
    width: 110vh;
    padding: 5px 0; 
}

.h-button {
    padding: 10px 0;
}

/* Body */
.body {
    font-weight: 900;
}

.b-section {
    
}

/* Body - Section 1 */
.section-1 {
    display: flex;
    justify-content: center;
    background-color: #F1F1F1;
    width: 100%;
    height: 72vh;
    align-items: center;
    gap: 30px;
}

.section-1-ch {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.section-1-content {
    width: 67vh;
    height: 40vh;
    background-color: #E2E2E2;
    
}

.section-1-img {
    background-color: #E2E2E2;
    width: 76vh;
    height: 60vh;
}

/* Body - Section 2 */
.section-2 {
    width: 100%;
    height: 133vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.section-2-content {
    width: 50vh;
    height: 5vh;
    text-align: center;
    background-color: #E2E2E2;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.section-2-ch {
    padding: 12px 0;
}

.items-container-section-2 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.section-2-items {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 30px;
}

.row-items {
    background-color: #E2E2E2;
    width: 46vh;
    height: 51vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

/* Body - Section 3 */
.section-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F1F1;
    height: 60vh;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section-3-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 50vh;
    height: 5vh;
    background-color: #E2E2E2;
}

.items-container-section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.row-items-1-sec-3 {
    width: 26vh;
    height: 35vh;
}

/* Body - Section 4 */
.section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 65vh;
}

.section-4-content {
    background-color: #E2E2E2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vh;
    height: 5vh;
    border-radius: 8px;
}

.items-container-section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.row-items-1-sec-4 {
    width: 33vh;
    height: 38vh;
}

.footer {
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
}

.title {
    padding: 10px 0;
    font-family: "Lora";
}