body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro";
}

.header { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-weight: bold;
    padding: 20px 0;
}

.h-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.h-logo { 
    background-color: #E2E2E2; 
    border-radius: 8px; 
    height: 60px; 
    width: 180px;   
}

.h-menu { 
    background-color: #E2E2E2;
    border-radius: 8px; 
    height: 34px; 
    width: 820px; 
}

.h-button { 
    background-color: #E2E2E2; 
    border-radius: 8px; 
    height: 42px; 
    width: 120px; 
}

.section-1 {
    background-color: #f1f1f1;
}

.container {
    width: 95%;
    margin: auto;
    max-width: 1200px;
}

.section-1-ch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 80px 0;
    font-weight: bold;
}

.sec-1-content {
    background-color: #E2E2E2; 
    height: 160px; 
    width: 595px;
    border-radius: 8px; 
    
}

.sec-1-image {
    background-color: #E2E2E2; 
    border-radius: 8px; 
    height: 350px; 
    width: 580px; 
}

.section-2 {
    padding: 80px 0;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    font-weight: bold;
    border-radius: 8px;
}

.title {
    margin: 0 auto 40px auto;
    height: 80px;
    width: 600px;
    background-color: #e2e2e2;
    font-family: "Lora";
}

.section-2-ch {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 40px;
}

.items-sec-2 {
    width: calc((100% - 60px) / 3);
    height:420px;  
}

.section-3 {
    background-color: #f1f1f1;
    padding: 80px 0;
}

.section-3-ch, .section-4-ch {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.items-sec-3 {
    width: calc((100% - 100px) / 5);
    height: 150px; 
    background-color: #E2E2E2;display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 80px 0;
    font-weight: bold;
}

.section-4 {
    padding: 80px 0;
}

.items-sec-4 {
    width: calc((100% - 100px) / 4);
    height: 300px; 
    background-color: #E2E2E2;
}

.footer { 
    height: 72px;
    background-color: #d9d9d9;
    width: 100%;
} 